@import "variables";
@import "container";
@import "input-container";
@import "output-container";
@import "cards";
@import "submit-button";
@import "tooltip-container";

body {
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  margin: 0;
  padding: 2rem 0;
  background: $background-blue;
  font-family: $typeface;
  color: white;
}

button {
  font-family: $typeface;
}

.wrapper {
  width: 90vw;
  grid-column: 2;

  h1 {
    margin-top: 0;
    text-align: center;
    color: $light-blue;
    font-size: 1.6rem;
    font-weight: 400;

    @media screen and (min-width: 768px) {
      font-size: 2.1em;
      margin-bottom: 47px;
    }
  }

  @media screen and (min-width: 768px) {
    width: 512px;
  }
}
