@import variables

=button
	width: 100%
	height: 60px
	border: none
	border-radius: 5px
	padding: 1rem 0
	margin-top: 10%
	font-size: 18px
	font-weight: 700
	box-shadow: $box-shadow
	color: $blue
	transition: 1s

	@media screen and (min-width: 480px) and (orientation: landscape)
		margin-top: 4%

	@media screen and (min-width: 768px)
		font-size: 20px

	@media screen and (min-width: 1024px)
		cursor: pointer

form
	button
		max-height: 70px

		&.button-card
			+button
			background: $light-blue
			color: white

			i.material-icons
				vertical-align: middle
				margin-right: 0.5rem

		&.button-paypal
			+button
			background: $pale-white
			padding: 0.5em 0

		span
			vertical-align: middle
